{% extends 'base.html' %}

{% block head %}
<title>Home page</title>
{% endblock %}

{% block body %}
<div class="container">
    
    <form method="post">
        {{ form.hidden_tag() }}
        
        <div class="form_control">
            {{ form.source.label() }}
            {{ form.source(autocomplete='off')}}
        </div>

        <div class="form_control">
            {{ form.email.label() }}
            {{ form.email() }}
        </div>

        <div class="form_control">
            {{ form.login.label() }}
            {{ form.login(autocomplete='off') }}
        </div>

        <div class="form_control">
            {{ form.password.label() }}
            {{ form.password() }}
        </div>
        
        {{ form.add_submit(class='btn btn-submit') }}
    </form>

    <table>
        <thead>
            <tr>
                <th scope="col">source</th>
                <th scope="col">email</th>
                <th scope="col">login</th>
            </tr>
        </thead>
        
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.source }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.login }}</td>
                    <td>
                        <a href=""><img class="btn icon-button" src='static/img/icons/file-copy.svg'></a>
                        <a href=""><img class="btn icon-button" src='static/img/icons/edit.svg'></a>
                        <a href="/delete/{{ item.id }}"><img class="btn icon-button" src='static/img/icons/delete.svg'></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}