{% extends 'base.html' %} {% block head %}
<title>Home page</title>
{% endblock %} {% block body %}

<div class="container">

    <div class="header">
        <div class="header__content _container">
            <a href="/" class="header__logo">
                <img class='logo__img' src="/static/img/logos/logo-white.svg">
            </a>
            <div class="header__menu">
                <nav class="menu__body">
                    <ul class="menu__list">
                        <!-- <li class="list__item" ><a href="" class="btn-text">profile</a></li> -->
                        <li class="list__item"><a href="/logout" class="btn-text">logout</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <form class="form" method="post">
        {{ form.hidden_tag() }} {% if item_to_edit %}
        <div class="form_control">
            {{ form.source.label() }} {{ form.source(autocomplete='off', value=item_to_edit.source)}}
        </div>
        <div class="form_control">
            {{ form.email.label() }} {{ form.email(value=item_to_edit.email) }}
        </div>
        <div class="form_control">
            {{ form.login.label() }} {{ form.login(autocomplete='off', value=item_to_edit.login) }}
        </div>
        <div class="form_control">
            {{ form.password.label() }} {{ form.password(value=item_to_edit.password) }}
        </div>
        {{ form.upd_submit(class="btn btn-submit") }} {% else %}
        <div class="form_control">
            {{ form.source.label() }} {{ form.source(autocomplete='off')}}
        </div>
        <div class="form_control">
            {{ form.email.label() }} {{ form.email() }}
        </div>
        <div class="form_control">
            {{ form.login.label() }} {{ form.login(autocomplete='off') }}
        </div>
        <div class="form_control">
            {{ form.password.label() }} {{ form.password() }}
        </div>
        {{ form.add_submit(class="btn btn-submit") }} {% endif %}
    </form>

    <table>
        <thead>
            <tr>
                <th scope="col">source</th>
                <th scope="col">email</th>
                <th scope="col">login</th>
            </tr>
        </thead>

        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.source }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.login }}</td>
                <td>
                    <a href="/edit/{{ item.id }}"><img class="btn icon-button" src="{{ url_for('static', filename='/img/icons/edit.svg') }}"></a>
                    <a href="/delete/{{ item.id }}"><img class="btn icon-button" src="{{ url_for('static', filename='/img/icons/delete.svg') }}"></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}