{% extends 'base.html' %} {% block head %}
<title>Login</title>
{% endblock %} {% block body %}

<div class="container">

    <form method="post" class="login-form">
        {{ form.hidden_tag() }} {% if error %}
        <div class="form_control center error">
            {{ error }}
        </div>
        {% endif %}

        <div class="form_control">
            {{ form.login.label() }} {{ form.login(autocomplete='off') }}
        </div>
        <div class="form_control">
            {{ form.password.label() }} {{ form.password() }}
        </div>
        <div class="form_control">
            {{ form.login_submit(class='btn btn-submit') }}
        </div>
        <div class="form_control center">
            <a href="{{ url_for('signup') }}" class="btn-text">Sign Up</a>
        </div>

    </form>

</div>
{% endblock %}