{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}

<div class="container">
    
    <form method="post" class="login-form">
        {{ formLogin.hidden_tag() }}
        
        <div class="form_control">
            {{ formLogin.login.label() }}
            {{ formLogin.login(autocomplete='off') }}
        </div>
        <div class="form_control">
            {{ formLogin.password.label() }}
            {{ formLogin.password() }}
        </div>
        <div class="form_control">
            {{ formLogin.login_submit(class='btn btn-submit') }}
        </div>
        <div class="form_control center">
            <a href="{{ url_for('registration') }}" class="btn-text">Registration</a>
        </div>

    </form>

</div>
{% endblock %}