{% extends 'base.html' %}

{% block head %}
<title>Registration</title>
{% endblock %}

{% block body %}

<div class="container">
    
    <form method="post" class="login-form">
        {{ formRegistration.hidden_tag() }}
        
        <div class="form_control">
            {{ formRegistration.email.label() }}
            {{ formRegistration.email() }}
        </div>
        <div class="form_control">
            {{ formRegistration.login.label() }}
            {{ formRegistration.login(autocomplete='off') }}
        </div>
        <div class="form_control">
            {{ formRegistration.password.label() }}
            {{ formRegistration.password() }}
        </div>
        <div class="form_control">
            {{ formRegistration.password_repeat.label() }}
            {{ formRegistration.password_repeat() }}
        </div>
        <div class="form_control">
            {{ formRegistration.registration_submit(class='btn btn-submit') }}
        </div>
        <div class="form_control center">
            <a href="{{ url_for('login') }}" class="btn-text">Login</a>
        </div>
    </form>

</div>
{% endblock %}