{% extends 'base.html' %}

{% block head %}
<title>Registration</title>
{% endblock %}

{% block body %}

<div class="container">
    
    <form method="post" class="login-form">
        {{ form.hidden_tag() }}
        
        {% if error %}
            <div class="form_control center error">
                {{ error }}
            </div>
        {% endif %}

        <div class="form_control">
            {{ form.email.label() }}
            {{ form.email() }}
        </div>
        <div class="form_control">
            {{ form.login.label() }}
            {{ form.login(autocomplete='off') }}
        </div>
        <div class="form_control">
            {{ form.password.label() }}
            {{ form.password() }}
        </div>
        <div class="form_control">
            {{ form.password_repeat.label() }}
            {{ form.password_repeat() }}
        </div>
        <div class="form_control">
            {{ form.signup_submit(class='btn btn-submit') }}
        </div>
        <div class="form_control center">
            <a href="{{ url_for('login') }}" class="btn-text">Log In</a>
        </div>
    </form>

</div>
{% endblock %}